{% extends "::html.html.twig" %}
 {% block body %}
   <ul>
   {% for type in types %}
     <li><a href="{{ path('page_add', { 'type' : type }) }}">{{ type }}</a></li>
   {% endfor %}
   </ul>
 {% endblock %}